<% provide(:title, "About the Digest") %>
 
<div id="about-box">
  <h3>The Digest is the site subscription app I always wanted.</h3>
  
  <p>I love reading blogs. When I only followed a few writers, it was easy to 
  keep track of all of the latest articles just by visiting each site every day. 
  But as I found more amazing sites, discovering when new articles were posted 
  became a chore.</p>
  
  <p>Before building the Digest, I looked at other services, such as 
  <%= link_to "Feedbin", "https://feedbin.com/" %> and <%= link_to "Feed Wrangler", "https://feedwrangler.net/welcome.html" %> 
  that also help keep track of your favourite sites.  But none of them did it the 
  way I prefered.  And thus, the Digest was born.</p>
  
  <p>Perhaps you're like me: you don't want another inbox, you want to view the content
  the way the author intended, and you want flexibility to read whenever you want. 
  If so, <%= link_to "sign up for a 30 day free trial", signup_path %> and try the Digest
  out.  I hope you like it</p>
  
  <p class="float-right">- <%= link_to "Jonathan", "https://jonathanpike.net" %></p>
</div>

<div class="clearfix"></div>