<% provide(:title, "Sign Up") %>

<div class="session-form">
  <h1>Sign Up</h1>
  
  <p>Start your 30 day free trial in seconds!</p>
  
  <%= render partial: 'users/new_form', locals: {user: @user} %>
  
  <p class="text-center">Existing User? <%= link_to "Log In Now", login_path %></p> 
</div>