<% provide(:title, "Dashboard for #{@user.name}") %>

<h1>Welcome to your Dashboard, <%= @user.name %></h1>

<p>Member since <%= @user.created_at.strftime("%B %Y") %></p>

<ul>
  <li><%= link_to "Edit your Profile", edit_user_path(@user.id) %></li>
  <li><%= link_to "Export your Subscriptions", subscriptions_export_path, "download": true %></li>
</ul>