<h1>Add a Feed</h1>

<% if @subscription.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@subscription.errors.count, "error") %> prevented this subscription from being added:</h2>
 
    <ul>
    <% @subscription.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render "new_subscription" %>