#logo {
  margin: 20px 0 0 30px;
  font-size: 4rem;
}

.left-margin {
  margin-left: 30px;
}

#container {

}

.dropdown {
  margin-top: 20px;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  padding: 5px;
  margin: 2px 0 0;
  min-width: 120px;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.open>.dropdown-menu {
  display: block;
}

.caret {
  font-size: 12px;
}

.navigation {
  margin-right: 50px;
  list-style-type: none;
  margin-top: 20px;
}

.nav-item {
  display: inline;
  margin-left: 0.7em;
}

.sub-nav {
  margin-top: 1rem;
  padding-left: 1rem;
  font-size: 1.1em;
}

#sidebar {
  min-width: 250px;
}

.external:after {
  content: ' ↗';
  color: #7a7a7a;
  font-size: 60%;
}

.content {
  font-size: 17px;
}

.meta {
  font-size: 14px;
}

#flash-messages {
  text-align: center;
  font-weight: 700;
}

.flash_notice {
  color: #FFFFFF;
  background-color: #B572DC;
  padding: 10px;
  border-radius: .4rem;
}

.flash_alert {
  color: #FFFFFF;
  background-color: #FF4036;
  padding: 10px;
  border-radius: .4rem;
}