#logo {
  margin: 20px 0 0 30px;
  font-size: 4rem;
}

.left-margin {
  margin-left: 30px;
}

#container {

}

.navigation {
  margin-right: 30px;
  list-style-type: none;
  margin-top: 20px;
}

.nav-item {
  display: inline;
  margin-left: 0.7em;
}

#sidebar {
  min-width: 250px;
}

.external:after {
  content: ' ↗';
  color: #7a7a7a;
  font-size: 60%;
}