// Place all the styles related to the subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article {
  list-style-type: none;
}

.header {
  margin-top: 0px;
}

.new_subscription {
  margin-bottom: 0px;
  padding: 10px;
}

.subscribe_button {
  margin-bottom: 0px;
}

input[type='email'], input[type='number'], input[type='password'], 
input[type='search'], input[type='tel'], input[type='text'], 
input[type='url'], textarea, select { 
  margin-bottom: 10px;
}

.new_subscription_box {
  width: 250px;
  border: 1px solid #9fa6a0;
  position: absolute;
  background-color: white;
  visibility: hidden;
  left: 250px;
  top: 30px;
}

// http://www.cssarrowplease.com/

.new_subscription_box:after, .new_subscription_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.new_subscription_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #FFFFFF;
	border-width: 30px;
	margin-top: -30px;
}
.new_subscription_box:before {
	border-color: rgba(159, 166, 160, 0);
	border-right-color: #9fa6a0;
	border-width: 31px;
	margin-top: -31px;
}

.invisible { 
  animation: fadeOut 0.5s;
}

.visible {
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; visibility: visible; }
}

@keyframes fadeOut {
  0%   { opacity: 1; visibility: visible;}
  100% { opacity: 0; visibility: hidden; }
}