// Place all the styles related to the subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article {
  list-style-type: none;
}

.header {
  margin-top: 0px;
}

.subscribe_button {
  margin-bottom: 0px;
  width: 100%;
}

.my_subscriptions {
  padding: 5px;
}

#subscription_list {
  list-style-type: none;
}

input[type='email'], input[type='number'], input[type='password'],
input[type='search'], input[type='tel'], input[type='text'],
input[type='url'], textarea, select {
  margin-bottom: 10px;
}

.new_subscription_box {
  width: 100%;
  background-color: white;
  display: block;
}

.subscription_label {
	color: #9b4dca;
	display: inline;
	font-weight: inherit;
	&:hover {
  color: #606c76;
	}
}
