<%= link_to "Add New Subscription", new_subscription_path, class: 'button new_subscription_button' %>
  
<div class="new_subscription_box hide">
  <%= render "new_subscription" %>
</div>
  
<div class="my_subscriptions">
  <h4>My Subscriptions</h4>
  <%= link_to "Manage Subscriptions", subscriptions_manage_path, remote: true, class: 'manage_subscriptions' %>
  <hr />
  <ul id="subscription_list">
  <% subscribed_sites.each do |site| %>
    <li><%= link_to site.title, site_path(site.id) %></li>
  <% end %>
  </ul>
</div>
