<div>
  <ul class="text-center">
    <li class="footer-item separator"><%= link_to "Log In", login_path %></li>
    <li class="footer-item separator"><%= link_to "Privacy", '#' %></li>
    <li class="footer-item separator"><%= link_to "Blog", '#' %></li>
     <li class="footer-item"><%= link_to "Help", '#' %></li>
  </ul>
</div>